@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.center {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  /* font-size: 18px; */
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: hidden;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    position: relative;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    transition: 0.5s;
}
header .toggle
{
    position: relative;
    width: 40px;
    height: 40px;
    background: url(menu_b.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .toggle.active
{
    background: url(close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
}
header .toggle:before
{
    content: 'Menu';
    position: absolute;
    right: 45px;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background: none;
    color: white;
}
header .toggle.active:before
{
    content: 'Close';
    /* position: absolute;
    right: 45px; */
    /* text-transform: uppercase; */
    /* color: white;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 5px;
    background: none;
    color: white; */
}
section video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}
.glass
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5%;
    height: 100%;
    backdrop-filter: blur(15px);
    z-index: 1;
    box-shadow: 10px 0 15px rgba(0,0,0,0.1);
    transition: 0.5s;
    transition-delay: .1s;
}
section.active .glass 
{
    width: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 10px 0 15px rgba(0,0,0,0.5);
    transition-delay 2s;
}
section .content
{
    position: relative;
    /* padding: 100px; */
    /* position: fixed; */
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    transition-delay: 1s;

}
section .content .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 50%; */
    /* left: 50%; */
    /* width: 100%; */
    /* position: absolute; */
    /* transform: translate(50%, 50%) */
    /* padding: 50vh; */
    /* flex-wrap: wrap; */
    /* position: fixed; */
    /* z-index: 10;
    transition: 0.5s;
    transition-delay: 1s; */

}
section.active .content
{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0s;
}
section .content h2
{
    position: relative;
    color: white;
    font-size: 5vw;
    /* line-height: 0.55em; */
    font-weight: 400;
    text-shadow: 0 5px 5px rgba(0,0,0,0.5));
}
section .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px; 
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
section .sci
{
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 100;
}
section .sci li
{
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    color: white;
    /* background: white; */
    transition: 0.5s;
    transition-delay: calc(0.2s * var(--i));
}
section.active .sci li
{
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
} 
section .sci li a
{
    color: white;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}
section .navigation
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 8px 20px; */
    
    z-index: 100;
}
section .navigation li
{
    list-style: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px; 
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    /* text-align: center;
    margin: 15px 0;
    padding: 8px 20px;
    border-radius: 20px; */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(200px);
    transition-delay: calc(0.2s * var(--i));
}
section.active .navigation li
{
    opacity: 1;
    visibility: visible;
    transform: 0.5s;
    transform: translateX(0px);
}
section .navigation li a
{
    color: #111;
    font-size: 1.5em;
    letter-spacing: 4px;
    text-decoration: none;
    font-weight: 300;
    /* text-transform: uppercase; */
    background: white;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 20px;
}
section .navigation li a:hover
{
    background: #111;
    color: white;
    letter-spacing: 10px;
    text-transform: uppercase;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    /* background-image: url("water-43.gif"), url("water-240581.gif"); */
    /* background-image: url("water-240581.gif") ; */
    /* background-blend-mode: screen, lighten; */
    /* background-size: cover; */    
}
/* body::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 70%);
}
body::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
} */
.container
{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 1200px; */
    flex-wrap: wrap;
    z-index:1;
}
.container .card
{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blue(5px);
}
.container .card .card_content
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card:hover .card_content
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card .card_content h2
{
    position: absolute;
    top: -40px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05)
    pointer-events: none;
}
.container .card .card_content h3
{
    font-size: 1.8em;
    color:white;
    z-index: 1;
}
.container .card .card_content p
{
    font-size: 1em;
    color: white;
    font-weight: 300;
}
.container .card .card_content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px; 
    margin-top: 15px;
    background: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
#media (max-width: 991px)
{
    header
    {
        padding: 20px;
    }
    section .sci
    {
        bottom: 20px;
        right: 20px;
    }
    .glass
    {
        width: 50%;
    }
    section .content h2 
    {
        font-size: 18vw;
    }
    section .content h2 span 
    {
        font-size: 0.25em;
        font-weight: 175;
        letter-spacing: 2px;
        /* background: none;
        color: white;
        padding: 0 5px;
        text-shadow: 0 5px 5px rgba(0,0,0,0);
        box-shadow: 0 5px 5px rgba(0,0,0,0,0.2); */
        /* text-transform: none; */
    }
}